/* Global classes */
.float-left {
  float: left;
}
.bg-primary {
	background: #000;
}
.center-it {
	text-align: center;
}
.invertText {
	color: #fff;
}

/* Layout */

.wrapper {
	padding: 1em;
}

.terrain {
	padding-top: 1.4em;
	text-shadow: 1px 1px #000;
}



/*
* Control Panel
*
*/
.canvas-clear {
	margin-bottom: 1em;
}
.defence-title {
	display: block;
	color: #000;
	padding-top: 0.2em;
}

.defenceUnit {
	padding-top: 1em;
	width: 7em;
	height: 7em;
	float: left;
	margin-right: 0.5em;
	margin-bottom: 0.5em;
	cursor: pointer;
}
.defenceUnits {
	min-height: 12em;
	display: block;

}

/* Base */
.base {
  background: #fff;
}

/* Watch tower */
.watch-tower {
	background-color: #089fdb;
}


/* Sniper */
.sniper {
	background-color: #8B8B80;
}

/* Machine Gun */
.machineGun {
	background-color: #24b34b;
}

/* Patroller */
.patrol {
	background-color: #363636;
}

#Canvas
	{
		background-color: #fff;
	}
.grassBG 
	{
		background:url(../images/grass-map.jpg);
	}
.sandBG 
	{
		background:url(../images/sand-map.jpg);
	}
.snowBG 
	{
		background-image:url(../images/snow_map.jpg);
	}
.grass
	{
		width: 60px;
		height: 60px;
		margin-right: 5px;
		margin-top: 5px;
		float: left;
		background-image:url(../images/grass-map.jpg);
		cursor: pointer;
	}
.sand
	{
		width: 60px;
		height: 60px;
		margin: 5px;
		float: left;
		background-image:url(../images/sand-map.jpg);
		cursor: pointer;
	}
.snow
	{
		width: 60px;
		height: 60px;
		margin: 5px;
		float: left;
		background-image:url(../images/snow_map.jpg);
		cursor: pointer;
	}