/* Global classes */
.float-left {
  float: left;
}
.bg-primary {
	background: #000;
}
.center-it {
	text-align: center;
}

/* Layout */

.wrapper {
	padding: 1em;
}

/*
* Control Panel
*
*/
.canvas-clear {
	margin-bottom: 2em;
}
.defence-title {
	display: block;
	color: #000;
	padding-top: 0.2em;
}

/* Base */
.base {
  background: #fff;
  width: 125px;
  height: 125px;
  padding-top: 3em;
  margin-top: 2em;
  cursor: pointer;
}

/* Watch tower */
.watch-tower {
	cursor: pointer;
	padding-top: 1.5em;
	background-color: #fff;
	border-radius: 50%;
	width: 125px;
	height: 125px;
}
.watch-tower:hover {
	background-color: #888;
}
.watch-tower img {
	width: 30%;
	height: auto;
	margin: 0 auto;
}

/* Sniper */
.sniper {
  margin-top: 1em;
  cursor: pointer;
	padding-top: 1.5em;
	background-color: #fff;
	width: 125px;
	height: 125px;
}

/* Machine Gun */
.machineGun {
  	margin-top: 1em;
  	cursor: pointer;
	padding-top: 1.5em;
	background-color: #fff;
	width: 125px;
	height: 125px;
}

/* Patroller */
.patrol {
  	margin-top: 1em;
  	cursor: pointer;
	padding-top: 1.5em;
	background-color: #fff;
	width: 125px;
	height: 125px;
}

#Canvas {
	background-color: #fff;
  background:url(../images/grass-map.jpg)
}
